extends ../layout
block content
  .container
    h1 Records
    .well
      each tag in tags
        a.label.label-info(href="/?tag=" + tag, class='tag')= tag

    table.table.table-hover
      thead
        tr
          th Name
          th Audio
          th Cost
          th Date Added
          th
        tbody
        each record in records
          tr
            td= record.name
            td
              audio(src=record.url, controls, preload="none")
            td=record.processing_cost              
            td= record.addedAt
            td
              if record.indexedAt
                a(href="/show/#{record._id}") Show
    a.btn.btn-default(href="/new") Add


