extends layout
block content
  .container
    h1 Records
    table.table.table-hover
      thead
        tr
          th Name
          th URL
          th Date Added
          th Date Indexed
          th
        tbody
        each record in records
          tr
            td= record.name
            td= record.url
            td= record.addedAt
            td= record.indexedAt
            td
              if record.indexedAt
                a(href="/show/#{record._id}") Show
    a.btn.btn-default(href="/new") Add

