extends ../layout
block content
  .container
    h1 Records
    .well
      each tag in tags
        a.label.label-info(href="/?tag=" + tag, class='tag')= tag

    table#records.table.table-hover
      thead
        tr
          th Name
          th Audio
          th Cost
          th Date Added
          th
        tbody
        each record in records
          tr
            td= record.name
            td
              audio(src=record.url, controls, preload="none")
            td=record.processing_cost              
            td= record.addedAt
            td.actions
              a.open(href="/show/#{record._id}", data-id="#{record._id}", style=record.indexedAt ? "" : "display:none") Show
              a.delete(href="#" data-id="#{record._id}") Remove
    a.btn.btn-default(href="/new") Add
    input#userId(type="hidden", value=user._id)
block scripts
  script(src="/js/index.js")
  script#recordTemplate(type="text/template")
    | <tr>
    |   <td class="name"></td>
    |   <td class="audio">
    |     <audio></audio>
    |   </td>
    |   <td class="cost"></td>
    |   <td class="date-added"></td>
    |   <td class="actions">
    |     <a class="open" style="display: none">Show</a>
    |     <a class="delete" >Delete</a>
    |   </td>


